<mat-toolbar>

    <div routerLink="" class="container">
      <img class="svg-do-site" src="../../assets/imagens/logo/pizza.svg" alt="Pizzaria" srcset="">
      <span class ="texto-navbar">Pizzaria Express</span>
    </div>
    <div class="menu-left">
        <nav id='menu'>
          <input type='checkbox' id='responsive-menu' onclick='updatemenu()'><label></label>
            <ul>
              <li><a routerLink="">Home</a></li>
              <li><a routerLink="/Pedidos">Pedido</a></li>
              <li><a routerLink="/Status">Status</a></li>
              <li><a routerLink="/Sobre">Sobre</a></li>
              <li><a routerLink="/Gerencia">Gerencia</a></li>
            </ul>
       </nav>
      </div>  
     
</mat-toolbar>