<main fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="start center" fxLayoutGap="16px"> 
    <mat-card class="card1"fxFlex.gt-sm="50">
        <div class="container2">
            <div class="container-fluid">
                <div id="mainSlider" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#mainSlider" data-slide-to="0" class="active"></li>
                        <li data-target="#mainSlider" data-slide-to="1"></li>
                        <li data-target="#mainSlider" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                        <img src="../../../assets/imagens/foto parte login/pexels-antonius-ferret-6223172.jpg"  class="d-block w-100" alt="foto 1">
                        </div>
                        <div class="carousel-item">
                            <img src="../../../assets/imagens/foto parte login/pexels-engin-akyurt-2260555.jpg" class="d-block w-100" alt="foto 2">
                        </div>
                        <div class="carousel-item">
                            <img src="../../../assets/imagens/foto parte login/pexels-roman-odintsov-5903267.jpg" class="d-block w-100" alt="foto 3 ">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mat-card>

    <mat-card class="card2"fxFlex.gt-sm="50" >
        <div class="foto-logo20">
        <img class="img-thumbnail" src="../../../assets/imagens/fotos do meio/Logotipo Pizzaria pepperoni - Logo.png" alt="logo" srcset="">
        </div>
        <mat-card-content>Login</mat-card-content>
        <mat-form-field>
            <mat-label>Username:</mat-label>
            <input matInput>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Password:</mat-label>
            <input  matInput >
        </mat-form-field>
        <button mat-flat-button color="warn">Login</button>
    </mat-card>

</main>  

<app-footer></app-footer>
<!--
        
-->