.final-site {
    height: 100px; /* Altura fixa */
    background-color: #770d15;
    padding: 10px;
    bottom: 0;
    width: 100%;
    position: relative;
    flex-direction: column;
}
p{
    padding: 0px;
}   
  
.parte-final,.parte-final2{
    color: white;
    padding: 0px;
    display: flex;
    text-align: center;
    justify-content: center;
    position: relative;
}
.parte-final2 {
    top: 2%;
}