<app-toolbar></app-toolbar>

<main>

    <div class="container">
        <section >
            <h2>Sobre a PizzaExpress</h2>
            <p>Bem-vindo à PizzaExpress, o refúgio da autêntica paixão pela pizza! Aqui, cada criação é uma obra de arte, cuidadosamente preparada para levar você a uma jornada de sabores irresistíveis. Nossa missão é transformar cada refeição em um momento memorável, onde a tradição e a inovação se encontram em cada fatia.</p>
          
            <h3>Nossa Filosofia</h3>
            <p>Na PizzaExpress, acreditamos que a verdadeira magia está nos detalhes. Desde a seleção dos ingredientes até o tempo de forno perfeito, cada etapa é executada com precisão para garantir que sua experiência seja excepcional. Valorizamos a autenticidade e a qualidade, trazendo para você o melhor da culinária italiana em cada pedaço.</p>
          
            <h3>Compromisso com a Comunidade</h3>
            <p>Não somos apenas uma pizzaria; somos parte da comunidade. Apoiamos iniciativas locais, promovemos a sustentabilidade e buscamos ser um lugar onde todos se sintam bem-vindos. Cada cliente é mais que um convidado, é parte da família PizzaExpress.</p>
        </section>
          
          <section >
            <h2>Localização</h2>
            <p>Nossa pizzaria está estrategicamente situada no coração da cidade, proporcionando aconchego e um ambiente acolhedor para amigos e famílias se reunirem. Com uma atmosfera única, combinamos o charme tradicional com toques modernos, criando o cenário perfeito para experiências gastronômicas inesquecíveis.</p>
          
            <h3>Como Nos Encontrar</h3>
            <p>Estamos localizados no seguinte endereço:</p>
            <address>
              Rua da Pizzaria, 123<br>
              Centro, Cidade Feliz<br>
              CEP: 12345-678
            </address>
          
            <p>Visite-nos e descubra o prazer de uma pizza feita com amor, no PizzaExpress.</p>
          </section>
          
          <section >
            <h2>Nossa Equipe</h2>
            <p>A PizzaExpress é composta por uma equipe dedicada de chefs, atendentes e amantes da culinária. Cada membro da nossa equipe compartilha a paixão por criar experiências culinárias excepcionais para nossos clientes.</p>
          
            <h3>Conheça Nossos Chefes</h3>
            <p>Nossos chefes de cozinha são especialistas em transformar ingredientes de alta qualidade em verdadeiras obras-primas. Com anos de experiência e uma paixão pela autenticidade, eles lideram a criação de cada pizza que sai de nossa cozinha.</p>
          
            <h3>Serviço com Sorriso</h3>
            <p>Nossa equipe de atendimento ao cliente está aqui para garantir que cada visita seja especial. Com um serviço amigável e atencioso, queremos que você se sinta em casa sempre que estiver conosco.</p>
          
            <p>Estamos ansiosos para recebê-lo e compartilhar a alegria de uma refeição deliciosa na PizzaExpress!</p>
          </section>
    </div>
</main>

<app-footer></app-footer>
